A1Prj.jar
.project
*.class
A1Prj/bin/
/A1Prj/bin/
/A1Prj/bin/com/mycompany/a1/game/*
/A1Prj/bin/com/mycompany/a1/game/
A1Prj/bin/com/mycompany/a1/game/*
A1Prj/bin/com/mycompany/a1/*
A1Prj/dist/*
/A1Prj/dist/*
*.tmp
*.class
A1Prj/Versions.properties
/A1Prj/Versions.properties/